

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* navy style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}

/* share tittle */
.section-bg{

}

.primre{
    color: rgb(189, 18, 18);
}
nav ul li {
    list-style: none;
     margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
   
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.btn-contain{
    background-color:#FD6E0A;
    font-size: 20px;
    color: white;
    padding:18px 35px ;
    border-radius: 5px;
    border: none;
}
.about{
    font-size: 35px;
    font-weight: bold;
    color:#181818 ;
}
.section-decription{
    font-size: 18px;
    color:#757575;
}

/* banner part */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-contant{
    max-width: 580px;
}
.banner-gating{
    font-size: 45px;
    font-weight: 600px;
}
.banner-tittle{
    font-weight: bold;
    font-size: 86px;
}
.banner-description{
    font-size: 18px;
}
.banner-picture{
    width: 584px;
    height: 676;
} 
/* main style */
main{
    max-width: 1140;
    margin:  0 auto;
}
/* about */
.about{
border-radius: 10px;
padding:  130px 150px;
text-align: center;
margin-top: 130px;
}
.about-item{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-weight:600px;
}